/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFi";
  src: url("fonts/vino/TMVinograd-Filled.otf"), url("fonts/vino/TMVinograd-Filled.ttf");
}
/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFiOb";
  src: url("fonts/vino/TMVinograd-FilledOblique.otf"), url("fonts/vino/TMVinograd-FilledOblique.ttf");
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "gbold";
  src: url("fonts/GothamProBold.ttf"), url("fonts/GothamProBold.woff");
}
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "greg";
  src: url("fonts/GothamProRegular.ttf"), url("fonts/GothamProRegular.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "glight";
  src: url("fonts/GothamProLight.ttf"), url("fonts/GothamProLight.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "gmed";
  src: url("fonts/GothamProMedium.ttf"), url("fonts/GothamProMedium.woff");
}
.wrap-callbec {
  display: inline-block;
  float: left;
}
.callbec--pad {
  padding-top: 70px;
  padding-bottom: 45px;
}
.callbec__bonus {
  display: inline-block;
  color: white;
  font-family: "glight", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #737373;
  text-align: center;
  transition: color .3s;
}
.callbec__bonus:hover,
.callbec__bonus:focus,
.callbec__bonus:active {
  color: #e5c02f;
  text-decoration: none;
}
.callbec__number {
  display: block;
  color: #e5c02f;
  font-family: "gmed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 12px;
  transition: color 0.3s;
}
.callbec__number:hover,
.callbec__number:focus,
.callbec__number:active {
  color: white;
  text-decoration: none;
}
.callbec__clock {
  color: white;
  padding-bottom: 45px;
}
.btn-bloc {
  position: relative;
}
.btOtziv {
  display: block;
  background: transparent;
  width: 140px;
  height: 34px;
  border: 2px solid #e5c02f;
  color: #e5c02f;
  font-size: 14px;
  font-family: "gmed", sans-serif;
  margin: 2px;
  padding: 0;
  transition: border .3s, color .3s;
}
.btOtziv i {
  color: white;
  display: inline-block;
  padding: 3px 10px 4px 0;
  font-size: 18px;
}
.btOtziv:hover,
.btOtziv:active,
.btOtziv:focus {
  color: white;
  text-decoration: none;
  border: 2px solid white;
}
.btOtziv:hover i,
.btOtziv:active i,
.btOtziv:focus i {
  color: white;
}
.btn-bloc__wrapBtn {
  display: inline-block;
  border: 1px solid white;
  z-index: 2;
}
.btnOtz {
  position: absolute;
  width: 147px;
  height: 40px;
  border: 1px solid #a4a4a4;
  top: 4px;
  left: 8px;
  z-index: -1;
}
.bloc-logo {
  display: block;
  text-align: center;
  margin: 14px auto 20px;
}
.menu {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}
.menu__li {
  display: inline-block;
  padding-right: 45px;
}
.menu__li a {
  text-transform: uppercase;
  color: white;
  font-family: "gmed", sans-serif;
  font-size: 14px;
  transition: color 0.3s;
}
.menu__li a:last-child {
  padding-right: 0;
}
.menu__li a:hover,
.menu__li a:active,
.menu__li a:focus {
  color: #e5c02f;
  text-decoration: none;
}
.btn-bloc--mod {
  width: 200px;
  margin: 0 auto 78px;
  display: block;
  text-align: center;
}
.btOtziv--zacaz {
  color: #e5c02f;
  width: 184px;
  height: 34px;
  padding-top: 5px;
}
.btOtziv--zacaz:hover {
  color: white;
}
.btnOtz--zacaz {
  padding-top: 5px;
  left: 8px;
  height: 40px;
  width: 192px;
}
.btn-bloc--enter {
  padding-top: 4px;
  padding-right: 5px;
  width: 184px;
  margin: 80px auto 15px;
  text-align: right;
}
.btOtziv--enter {
  color: #e5c02f;
  width: 184px;
  height: 34px;
  padding-top: 5px;
  padding-right: 5px;
}
.btOtziv--enter:hover {
  color: white;
}
.btOtziv--enter i {
  padding: 3px 5px 4px 0;
  font-size: 12px;
  color: white;
}
.btOtziv--enter:hover i {
  color: white;
}
.btn-bloc--enter .btnOtz--enter {
  top: 8px;
  left: 3px;
  width: 191px;
}
.btnOtz--bars {
  top: 4px!important;
}
.blocSocial {
  text-align: center;
  margin-bottom: 14px;
}
.blocSocial div {
  display: inline-block;
  cursor: pointer;
  padding-right: 15px;
}
.blocSocial div:last-child {
  padding-right: 0;
}
.blocSocial div i {
  color: #959595;
  font-size: 16px;
  transition: color 0.3s;
}
.blocSocial div:hover i {
  color: #e5c02f;
}
.btn-bloc--bars {
  padding-top: 0;
}
.btn-bloc--bars {
  margin-top: 0;
}
.icon-bars {
  float: left;
  position: relative;
  top: -1px;
  left: 7px;
}
.bars-item {
  font-size: 14px;
  font-family: "gmed", sans-serif;
  color: white;
  position: absolute;
  left: 30px;
  padding: 1px 8px;
  background: #a34343;
  border-radius: 100%;
  top: -2px;
}
.btOtziv__text {
  display: inline-block;
  background: url("../img/rub.png") no-repeat 3px 4px;
  padding-left: 15px;
  border-left: 1px solid white;
}
.btOtziv__text span {
  font-family: "glight", sans-serif;
  font-size: 11px;
  color: white;
  padding-right: 3px;
}
.wrapHoverBars {
  display: none;
  position: absolute;
  left: -140px;
  top: 40px;
  z-index: 9;
}
.blocHover {
  display: block;
  background: url("../img/bg_form.png") no-repeat;
  background-size: cover;
  width: 300px;
  height: auto;
}
.blocHover::before {
  content: '';
  position: absolute;
  right: 120px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e5c02f;
}
.btn-blocHover__close {
  margin: 20px 0 0 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #e5c02f;
  background: white;
  transition: border 0.3s;
}
.btn-blocHover__close i {
  text-align: center;
  display: block;
  vertical-align: middle;
  padding-top: 5px;
  color: #e5c02f;
  transition: color 0.3s;
}
.btn-blocHover__close:hover {
  border: 2px solid #a34343;
  text-decoration: none;
}
.btn-blocHover__close:hover i {
  color: #a34343;
  text-decoration: none;
}
.btnHoverClose:hover {
  text-decoration: none;
}
.barsImg {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.nameItem {
  text-align: center;
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: #737373;
  padding: 20px 0 10px 0;
}
.priceItem {
  text-align: center;
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: #737373;
  padding: 20px 0 10px 0;
  padding-top: 0;
}
.blocHover__raz {
  color: white;
  width: 90%;
}
.blocHoverItog {
  height: 160px;
}
.blocHoverItog__poditog {
  text-align: center;
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: #737373;
  padding: 20px 0 10px 0;
  padding-top: 0;
}
.blocHoverItog__prosmotr {
  display: block;
  font-size: 14px;
  font-family: "gmed", sans-serif;
  color: #737373;
  border: 2px solid black;
  padding: 5px 15px;
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto 20px;
  transition: border 0.3s, color 0.3s;
}
.blocHoverItog__prosmotr:hover,
.blocHoverItog__prosmotr:active,
.blocHoverItog__prosmotr:focus {
  color: #a34343;
  border-color: #a34343;
  text-decoration: none;
}
.blocHoverItog__oformit {
  display: block;
  font-size: 14px;
  font-family: "gmed", sans-serif;
  color: #737373;
  border: 2px solid black;
  padding: 5px 15px;
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto 20px;
  transition: border 0.3s, color 0.3s;
  text-align: center;
}
.blocHoverItog__oformit:hover,
.blocHoverItog__oformit:active,
.blocHoverItog__oformit:focus {
  color: #a34343;
  border-color: #a34343;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .menu__li {
    padding-right: 30px;
  }
}
@media all and (max-width: 992px) {
  .wrap-callbec {
    float: none;
  }
  .callbec--pad {
    padding-top: 5px;
    padding-bottom: 35px;
  }
  .btn-bloc--enter {
    margin: 35px auto 15px;
  }
  .barsImg {
    width: 100px;
    height: 100px;
    display: block;
  }
  .btn-bloc--bars {
    margin-top: 15px;
  }
}
@media all and (max-width: 768px) {
  .btn-bloc--mod {
    margin: 0 auto 40px;
  }
  .btOtziv {
    width: 184px;
  }
  .btnOtz {
    width: 192px;
    top: 4px;
    left: 3px;
  }
  .btnOtz--enter {
    top: 8px;
  }
  .btnOtz--bars {
    top: 4px;
    left: 3px;
  }
}
@media all and (max-width: 460px) {
  .menu__li {
    padding-right: 0;
    display: block;
  }
  .wrapHoverBars {
    left: -60px;
  }
  .blocHover--row {
    margin: 0;
  }
}
