@import "../variables";

.tabTittle{
  color:@yel;
  text-transform: uppercase;
  font-family: @gmed;
  font-size: @f18;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
.nav-tabs--admin > li:first-child {
  margin-left: 100px;
}
.tab-content--account {
  max-height: 100%;
  overflow: visible;
  margin-top: 0;
}
.wrapRegisterForm--account{
  margin-top: 60px;
  width: 100%;
}
.tittleAccount{
  color: @colorPlaceholder;
  font-family: @gbold;
  font-size: @f20;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
}
.wrapSelect--account{
  display: inline-block;
  margin-right: 25px;
  &:last-child{
    margin-right: 0;
  }
}
.deliveriPredel--account{
  width: 120px;
}
.blocSity--account{
  padding-bottom: 40px;
}





@media screen and (max-width: 1200px){
  .nav-tabs--admin > li:first-child {
    margin-left: 0;
  }
}
@media all and (max-width: 992px){
  .nav-tabs--admin > li{
    margin: 0 auto 10px;
    display: block;
    .wrap-itemNav{
      display: inline-block;
    }
  }
}
@media all and (max-width: 550px){
  .wrapSelect--account {
    display: block;
    width: 130px;
    margin: 0 auto 20px;
    float: none;
  }
  .wrapSelect--account:last-child{
    margin-right: auto;
  }
}
