/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFi";
  src: url("fonts/vino/TMVinograd-Filled.otf"), url("fonts/vino/TMVinograd-Filled.ttf");
}
/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFiOb";
  src: url("fonts/vino/TMVinograd-FilledOblique.otf"), url("fonts/vino/TMVinograd-FilledOblique.ttf");
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "gbold";
  src: url("fonts/GothamProBold.ttf"), url("fonts/GothamProBold.woff");
}
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "greg";
  src: url("fonts/GothamProRegular.ttf"), url("fonts/GothamProRegular.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "glight";
  src: url("fonts/GothamProLight.ttf"), url("fonts/GothamProLight.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "gmed";
  src: url("fonts/GothamProMedium.ttf"), url("fonts/GothamProMedium.woff");
}
.tabTittle {
  color: #e5c02f;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}
.nav-tabs--admin > li:first-child {
  margin-left: 100px;
}
.tab-content--account {
  max-height: 100%;
  overflow: visible;
  margin-top: 0;
}
.wrapRegisterForm--account {
  margin-top: 60px;
  width: 100%;
}
.tittleAccount {
  color: #303136;
  font-family: "gbold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
}
.wrapSelect--account {
  display: inline-block;
  margin-right: 25px;
}
.wrapSelect--account:last-child {
  margin-right: 0;
}
.deliveriPredel--account {
  width: 120px;
}
.blocSity--account {
  padding-bottom: 40px;
}
.blocMetro--adres label {
  font-size: 16px;
}
.btn-bloc--adres {
  max-width: 450px;
  margin: 30px auto;
}
.btn-bloc__registr--adres {
  padding-left: 0;
}
.tittleAccount--bonus {
  padding-top: 80px;
}
.bonBal {
  color: #303136;
  font-family: "glight", sans-serif;
  font-size: 14px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto 25px;
}
.blocBonus {
  width: 200px;
  height: 40px;
  border: 1px solid #5e191d;
  margin: 0 auto 20px;
  text-align: center;
}
.nalBonus {
  color: #303136;
  font-family: "glight", sans-serif;
  font-size: 12px;
  text-align: center;
}
.inpSub--bonus {
  margin-top: 50px;
}
.promokodForm--bonus {
  text-align: center;
}
.promokodForm--bonus input {
  font-size: 18px;
  font-family: "glight", sans-serif;
  margin-right: 0;
}
.blocSelectHistory {
  max-width: 825px;
  margin: 0 auto;
}
.dataZacaza {
  display: inline-block;
  width: 390px;
  margin: 50px 20px 50px 0;
  border: 1px solid white;
}
.dataZacaza:last-child {
  margin-right: 0;
}
.dataZacaza .jq-selectbox__select-text {
  color: white;
}
.dataZacaza .deliveriPredel {
  border: 2px solid #e5c02f;
  color: white;
}
.dataZacaza .jq-selectbox__trigger {
  border-color: white;
}
.dataZacaza .jq-selectbox__trigger-arrow {
  background: url("../img/nextYellow.png") no-repeat;
}
.wrapRegisterForm--history {
  width: 100%;
}
.imgHistory {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 40px;
}
.tittleItemHistory {
  color: #303136;
  font-family: "gbold", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.tableHistory__name {
  color: #5e191d;
  font-family: "glight", sans-serif;
  font-size: 14px;
  max-width: 178px;
  display: inline-block;
}
.tableHistory__num {
  color: #5e191d;
  font-size: 14px;
  font-family: "gbold", sans-serif;
  text-align: right;
  padding-right: 12px;
}
.tableHistory__num--res {
  width: 80px;
}
.btn-bloc__wrapBtn--item {
  width: 120px;
  margin: 10px 0 30px 0;
}
.btn-bloc__wrapBtn--item .inpSubRegister {
  width: 114px;
}
.btn-bloc__wrapBtn--item .borderWrapRegist {
  width: 120px;
}
.zacazRaz {
  border-top: 1px solid black;
  width: 96%;
  margin: 20px auto 80px;
}
.blocPagination {
  text-align: center;
  padding-bottom: 30px;
}
.btn-bloc__wrapBtn--rigPad {
  margin-right: 30px;
}
.blocNumPaginations__ul {
  text-align: center;
  padding-bottom: 40px;
}
.blocNumPaginations__ul li {
  display: inline-block;
}
.blocNumPaginations__ul li a {
  font-family: "gbold", sans-serif;
  font-size: 14px;
  color: #84726c;
}
.blocNumPaginations__ul li a:hover,
.blocNumPaginations__ul li a:active,
.blocNumPaginations__ul li a:focus {
  text-decoration: none;
  color: #5e191d;
}
.blocNumPaginations__ul .blocNumPaginations__ul--active a {
  color: #5e191d;
}
@media screen and (max-width: 1200px) {
  .nav-tabs--admin > li:first-child {
    margin-left: 0;
  }
}
@media all and (max-width: 992px) {
  .nav-tabs--admin > li {
    margin: 0 auto 10px;
    display: block;
  }
  .nav-tabs--admin > li .wrap-itemNav {
    display: inline-block;
  }
  .blocSelectHistory {
    text-align: center;
  }
  .dataZacaza {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .imgHistory {
    width: 220px;
    padding-left: 0;
    text-align: center;
    display: block;
    margin: 0 auto 20px;
  }
  .tittleItemHistory {
    text-align: center;
  }
  .tableHistory {
    margin: 0 auto 10px;
  }
  .btn-bloc__wrapBtn--item {
    margin: 20px auto 30px;
    display: block;
  }
}
@media all and (max-width: 550px) {
  .wrapSelect--account {
    display: block;
    width: 130px;
    margin: 0 auto 20px;
    float: none;
  }
  .wrapSelect--account:last-child {
    margin-right: auto;
  }
  .btn-bloc__registr--adres {
    display: block;
    float: none;
    text-align: center;
    padding-bottom: 30px;
  }
  .promokodForm--bonus input {
    margin-right: auto;
  }
  .zacazRaz {
    margin: 20px auto 40px;
  }
  .btn-bloc__wrapBtn--rigPad {
    display: block;
    width: 187px;
    margin: 0 auto 20px;
  }
  .dataZacaza {
    max-width: 390px;
    width: 90%;
  }
}
