/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFi";
  src: url("fonts/vino/TMVinograd-Filled.otf"), url("fonts/vino/TMVinograd-Filled.ttf");
}
/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFiOb";
  src: url("fonts/vino/TMVinograd-FilledOblique.otf"), url("fonts/vino/TMVinograd-FilledOblique.ttf");
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "gbold";
  src: url("fonts/GothamProBold.ttf"), url("fonts/GothamProBold.woff");
}
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "greg";
  src: url("fonts/GothamProRegular.ttf"), url("fonts/GothamProRegular.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "glight";
  src: url("fonts/GothamProLight.ttf"), url("fonts/GothamProLight.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "gmed";
  src: url("fonts/GothamProMedium.ttf"), url("fonts/GothamProMedium.woff");
}
.safari .inpDate {
  padding-left: 20px;
}
.bascetBloc__tittle {
  color: #e5c02f;
  font-family: "gmed", sans-serif;
  font-size: 18px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 35px;
}
.bascetItem__nameItem {
  text-align: right;
  padding-right: 100px;
  padding-bottom: 20px;
  color: white;
  font-family: "gmed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.bascetItem--border {
  border-bottom: 1px solid white;
}
.bascetItem__price {
  text-align: right;
  padding-right: 100px;
  padding-bottom: 20px;
}
.bascetItem__price li {
  display: inline-block;
  padding-right: 40px;
  color: white;
  font-family: "gmed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.bascetItem__price li:last-child {
  padding-right: 0;
}
.bascetBloc__line {
  margin: 0;
}
.bascetItem__imgItem {
  margin-top: 40px;
  margin-bottom: 90px;
  width: 100%;
}
.item-menu__tittle--basced {
  padding-top: 26px;
  padding-bottom: 0;
  font-size: 40px;
  margin-bottom: 0;
  text-align: left;
}
.item-menu__text--bascet {
  text-align: left;
}
.item-menu__raz--basced {
  width: 100%;
}
.item-menu__ul--bars {
  padding-right: 5px;
}
.priceBloc {
  display: inline-block;
}
.priceBloc__price {
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: white;
  background: url("../img/rubBig.png") no-repeat;
  padding-left: 25px;
}
.wrapInputNumber {
  border: 1px solid white;
  width: 106px;
  padding: 2px;
}
.next-bot,
.next-top {
  display: inline-block;
  background: url('../img/arrowNum.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.next-bot {
  background-position: -3px 0px;
  width: 15px;
  height: 8px;
}
.next-top {
  background-position: -3px -11px;
  width: 15px;
  height: 8px;
}
.jq-number__field {
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: white;
  border: 2px solid #e5c02f;
  border-radius: 0;
}
.jq-number__field input {
  font-size: 14px;
  font-family: "glight", sans-serif;
  color: white;
  text-align: center;
}
.jq-number__spin {
  background: url('../img/arrowNum.png') no-repeat;
  border: none;
  border-bottom-color: transparent;
  border-radius: 0;
  height: 10px;
  width: 25px;
}
.jq-number__spin::after {
  display: none;
}
.jq-number__spin.plus {
  background-position: center -10px;
}
.jq-number__spin.minus {
  background-position: center 0;
}
.wrapBlocPrice--pad {
  text-align: center;
  padding-top: 35px;
}
.priceBloc__price {
  padding-right: 40px;
}
.priceBloc__price--padLef {
  margin-left: 50px;
  padding-right: 0;
}
.priceBloc__price--padLef2 {
  margin-left: 70px;
}
.priceBloc__delete {
  background: url("../img/delete.png") no-repeat;
  width: 17px;
  height: 17px;
  display: block;
  margin-left: 40px;
}
.padLef-mob,
.padLef-mob2 {
  display: none;
}
.btn-bloc--clear {
  display: inline-block;
  margin-top: 40px;
  margin-right: 55px;
}
.btOtziv--clear {
  width: 184px;
}
.btnOtz--clear {
  width: 190px;
  top: 4px;
  left: 4px;
}
.btn-bloc--update {
  margin-right: 0;
}
.btn-bloc--continue {
  float: right;
  margin-right: 0;
}
.itogPrice {
  clear: both;
}
.itogTable {
  margin-top: 50px;
  float: right;
}
.itogTable td {
  color: white;
  font-size: 14px;
  font-family: "gmed", sans-serif;
  padding-bottom: 20px;
  text-align: right;
}
.itogTable td:first-child {
  padding-right: 40px;
}
.itogTable .itogTable__promej {
  text-transform: uppercase;
  color: #e5c02f;
  font-size: 16px;
}
.itogTable .itogTable__promocod {
  text-transform: uppercase;
}
.itogTable .itogTable__itog {
  color: #e5c02f;
  font-size: 20px;
  font-family: "gbold", sans-serif;
  padding-top: 20px;
  text-transform: uppercase;
}
.itogTable .itogTable__price {
  font-family: "glight", sans-serif;
  background: url("../img/rubBig.png") no-repeat;
  text-align: left;
  padding-left: 25px;
}
.itogTable .itogTable__price--colorRed {
  color: #a34343;
}
.itogTable .itogTable__price--pad {
  padding-top: 20px;
  font-size: 18px;
  background-position: 0 22px;
}
.row--borderBot {
  display: block;
  border-bottom: 1px solid white;
  width: 100%;
  height: auto;
}
.checkout {
  float: right;
  margin-top: 40px;
}
.checkout__text {
  color: #e5c02f;
  font-family: "gmed", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  padding-top: 10px;
  padding-right: 40px;
}
.btn-bloc--checkout {
  display: inline-block;
}
.wrapRegisterForm--basked {
  margin-top: 130px;
  width: 100%;
}
.tittleForm {
  color: #5e191d;
  font-size: 50px;
  font-family: "tFi", sans-serif;
  text-align: center;
  padding: 25px 0;
}
.promokodTitle {
  font-family: "gbold", sans-serif;
  color: #303136;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.promokodForm {
  max-width: 400px;
  margin: 0 auto 25px;
}
.promokodForm__inpTex {
  width: 184px;
  height: 40px;
  border: 1px solid #5e191d;
  margin-right: 20px;
  background: transparent;
  padding-left: 15px;
}
.wrapChe--bascet {
  text-align: center;
}
.wrapChe--bascet label {
  color: #303136;
  font-family: "gmed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.blocFormTop {
  border-bottom: 1px solid black;
  display: block;
  width: 445px;
  margin: 0 auto 25px;
}
.numPay {
  text-align: center;
  margin: 20px 0;
}
.numPay label {
  display: inline-block;
  color: #303136;
  font-family: "gmed", sans-serif;
  font-size: 14px;
  cursor: pointer;
  padding-right: 10px;
}
.numPay .wrapInputNumber {
  display: inline-block;
  border-color: #5e191d;
}
.numPay .jq-number__field {
  border: 2px solid rgba(94, 25, 29, 0.5);
  box-shadow: none;
}
.numPay .jq-number__spin {
  background: url('../img/arrowNum2.png') no-repeat;
}
.numPay .jq-number__spin.plus {
  background-position: 0 -10px;
}
.numPay .jq-number__field input {
  color: #303136;
}
.deliveriForm {
  width: 450px;
  margin: 0 auto 20px;
}
.wrapChe--samov {
  float: left;
}
.wrapChe--samov label {
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.wrapChe--deliv {
  float: right;
}
.wrapChe--deliv label {
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.wrapSelect {
  display: block;
  max-width: 450px;
  padding: 4px;
  margin: 0 auto 20px;
  border: 1px solid #5e191d;
}
.deliveriPredel {
  display: block!important;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgba(94, 25, 29, 0.5);
}
.deliveriPredel .jq-selectbox__select-text {
  width: 100%;
  text-align: center;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
}
.deliveriPredel .jq-selectbox__dropdown {
  top: 37px;
  bottom: auto !important;
}
.blocMetro {
  max-width: 450px;
  margin: 0 auto 20px;
}
.blocMetro label {
  display: block;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.blocMetro input {
  padding-left: 15px;
  width: 450px;
  height: 40px;
  border: 1px solid #5e191d;
  background: transparent;
}
.blocSity {
  max-width: 450px;
  margin: 0 auto 20px;
}
.blocSity label {
  display: block;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.blocSity input {
  padding-left: 15px;
  width: 450px;
  height: 40px;
  border: 1px solid #5e191d;
  background: transparent;
}
.blocNumberHome {
  max-width: 450px;
  margin: 0 auto 20px;
}
.blocNumberHome .pod {
  display: inline-block;
  width: 136px;
  margin-right: 12px;
}
.blocNumberHome .pod label {
  display: block;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.blocNumberHome .pod input {
  width: 136px;
  height: 40px;
  border: 1px solid #5e191d;
  background: transparent;
  padding-left: 10px;
}
.blocNumberHome .etaj {
  display: inline-block;
  width: 136px;
  margin-right: 12px;
}
.blocNumberHome .etaj label {
  display: block;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.blocNumberHome .etaj input {
  width: 136px;
  height: 40px;
  border: 1px solid #5e191d;
  background: transparent;
  padding-left: 10px;
}
.blocNumberHome .kvart {
  display: inline-block;
  width: 136px;
  margin-right: 12px;
  margin-right: 0;
}
.blocNumberHome .kvart label {
  display: block;
  text-transform: uppercase;
  font-family: "gmed", sans-serif;
  color: #303136;
  font-size: 14px;
  padding-bottom: 10px;
  cursor: pointer;
}
.blocNumberHome .kvart input {
  width: 136px;
  height: 40px;
  border: 1px solid #5e191d;
  background: transparent;
  padding-left: 10px;
}
.deliveriForm--bottom label {
  text-transform: inherit;
  max-width: 124px;
  display: inline-block;
  font-size: 12px;
}
.deliveriForm--bottom .jq-checkbox {
  vertical-align: top;
  top: 6px;
}
.jq-checkbox {
  margin: 0;
}
.blocBotForm {
  border-bottom: 1px solid black;
  max-width: 450px;
  margin: 0 auto 20px;
}
.blocDateDeliveri {
  border-bottom: 1px solid black;
  max-width: 450px;
  margin: 0 auto 20px;
}
.wrapDate {
  border: 1px solid #5e191d;
  padding: 4px;
  max-width: 450px;
  margin-bottom: 20px;
  background: url("../img/date.png") no-repeat 405px;
}
.inpDate {
  width: 100%;
  height: 29px;
  border: 2px solid rgba(94, 25, 29, 0.5);
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  font-family: "gmed", sans-serif;
  color: #303136;
  text-align: center;
}
.datepicker.active {
  width: 450px!important;
  border: 1px solid #303136;
  background-color: #dcdcdc;
  color: black;
}
.datepicker--pointer {
  display: none;
}
.datepicker--nav {
  background: #e5c02f;
}
.ui-state-default {
  width: 20px;
  height: 12px;
  text-align: center;
}
.datepicker--body.active {
  width: 200px;
  margin: 0 auto;
}
.datepicker--cell.-selected- {
  color: #fff;
  border: none;
  background: #e5c02f;
  border-radius: 0;
}
.blockTime--style {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  max-width: 450px;
  width: 100%;
  border: 1px solid #303136;
  background-color: #dcdcdc;
  z-index: 100;
}
.blockTime__tittle {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  text-align: center;
  padding: 4px 0;
  background: #e5c02f;
}
.blockTime__time {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
}
.blockTime__res {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
}
.blockTime__hour {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
}
.blockTime__min {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
}
.ui-widget.ui-widget-content {
  border: none;
  width: 96%;
  margin: 0 auto 10px;
  background-color: #b0b0b0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-radius: 0;
  background-color: #e5c02f;
  border: none;
  cursor: pointer;
}
.blockTime__botoom {
  border-top: 1px solid black;
}
.blocBotTime__left {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
  float: left;
  padding-top: 6px;
  cursor: pointer;
  transition: color .2s;
}
.blocBotTime__left:hover {
  color: #e5c02f;
}
.blocBotTime__right {
  font-family: "gbold", sans-serif;
  font-size: 12px;
  color: #303136;
  padding-left: 10px;
  float: right;
  padding-top: 6px;
  padding-right: 10px;
  cursor: pointer;
  transition: color .2s;
}
.blocBotTime__right:hover {
  color: #e5c02f;
}
.timeSel {
  position: relative;
}
.wrapChe_wiz {
  max-width: 140px!important;
}
.btn-bloc__wrapBtn--oform {
  margin: 20px auto 40px;
  display: block;
  width: 186px;
}
@media screen and (max-width: 1200px) {
  .priceBloc__price--padLef2 {
    margin-left: 0;
  }
  .item-menu__tittle--basced {
    font-size: 30px;
  }
}
@media all and (max-width: 992px) {
  .nameItemBarsHidden {
    display: none;
  }
  .bascetItem__imgItem {
    width: 290px;
    margin: 20px auto 0;
    display: block;
  }
  .item-menu__tittle--basced,
  .item-menu__text--bascet {
    text-align: center;
  }
  .btn-bloc--left {
    float: none;
  }
  .wrapBlocPrice--pad {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}
@media all and (max-width: 768px) {
  .btn-bloc--clear {
    display: block;
    margin: 20px auto;
    width: 200px;
  }
  .btn-bloc--continue {
    float: none;
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .itogTable {
    float: none;
    margin: 50px auto;
  }
}
@media all and (max-width: 560px) {
  .tittleForm {
    font-size: 40px;
  }
  .blocFormTop,
  .deliveriForm {
    width: 100%;
  }
  .promokodForm__inpTex {
    display: block;
    margin: 0 auto 20px;
  }
  .btn-bloc__wrapBtn--bg {
    display: block;
    width: 186px;
    margin: 0 auto;
    float: none;
  }
  .wrapChe--bascet label {
    font-size: 14px;
  }
  .numPay label {
    display: block;
    padding-bottom: 20px;
  }
  .wrapChe--samov {
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }
  .wrapChe--deliv {
    float: none;
    text-align: center;
    padding-left: 42px;
  }
  .wrapSelect,
  .wrapSelect {
    width: 98%;
  }
  .blocMetro input {
    width: 98%;
    margin: 0 auto;
    display: block;
  }
  .blocMetro label,
  .blocSity label {
    padding-left: 6px;
  }
  .blocNumberHome .pod {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .blocNumberHome .pod input {
    width: 100%;
  }
  .blocNumberHome .etaj {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .blocNumberHome .etaj input {
    width: 100%;
  }
  .blocNumberHome .kvart {
    display: block;
    width: 200px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .blocNumberHome .kvart input {
    width: 100%;
  }
  .deliveriForm--bottom label {
    text-transform: inherit;
    max-width: 100%;
    display: inline-block;
    font-size: 12px;
    padding-top: 8px;
  }
  .wrapChe--deliv {
    padding-left: 0;
  }
  .wrapChe--samov {
    padding-left: 5px;
  }
  .wrapDate {
    width: 98%;
    margin: 0 auto 20px;
  }
  .timeSel {
    width: 100%;
    margin: 0 auto 20px;
  }
  .datepicker.active {
    width: 250px!important;
  }
}
@media all and (max-width: 510px) {
  .checkout {
    float: none;
  }
  .checkout__text {
    padding: 0 0 20px 0;
    display: block;
    text-align: center;
  }
  .btn-bloc--checkout {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .wrapBlocPrice--pad {
    position: relative;
  }
  .priceBloc--delete {
    position: absolute;
    bottom: 5px;
    left: 0;
  }
  .priceBloc--delete a {
    margin: 0;
  }
}
@media all and (max-width: 410px) {
  .priceBloc {
    display: block;
  }
  .priceBloc__price--padLef2 {
    width: 100px;
    margin: 0 auto 30px;
  }
  .wrapInputNumber {
    margin: 0 auto 30px;
  }
  .priceBloc__price--padLef {
    padding-right: 0;
    width: 100px;
    margin: 0 auto;
  }
  .padLef-mob,
  .padLef-mob2 {
    display: inline-block;
    color: white;
    font-family: "gmed", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  .btnOtz--barsItem {
    display: inline-block !important;
    width: auto;
  }
  .priceBloc--delete {
    bottom: 10px;
  }
}
@media all and (max-width: 330px) {
  .itogTable .itogTable__price {
    background-position: 0 15px;
  }
  .itogTable .itogTable__price--colorRed {
    background-position: 0 0;
  }
  .itogTable .itogTable__price--pad {
    background-position: 0 38px;
  }
}
