@import "../variables";

//ssprites
.form-001-envelope, .form-002-phone-call, .form-avregis, .form-next, .form-blockregister
{ display: inline-block; background: url('../../img/spriteRegister.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.form-001-envelope { background-position: -3px -0px; width: 23px; height: 17px; }
.form-002-phone-call { background-position: -3px -20px; width: 19px; height: 19px; }
.form-avregis { background-position: -3px -42px; width: 15px; height: 18px; }
.form-next { background-position: -3px -63px; width: 15px; height: 8px; }
.form-blockregister { background-position: -3px -74px; width: 14px; height: 18px; }

//<div class="form-001-envelope"></div>
//<div class="form-002-phone-call"></div>
//<div class="form-avregis"></div>
//<div class="form-next"></div>
//<div class="form-blockregister"></div>

.tittleH{
  font-family: @tFi;
  font-size: @f60;
  color: @yel;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 0;
}
.tittleRegister__slogan{
  color: @colorPopupWhit;
  font-family: @greg;
  font-size: @f14;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 45px;
}