/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFi";
  src: url("fonts/vino/TMVinograd-Filled.otf"), url("fonts/vino/TMVinograd-Filled.ttf");
}
/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFiOb";
  src: url("fonts/vino/TMVinograd-FilledOblique.otf"), url("fonts/vino/TMVinograd-FilledOblique.ttf");
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "gbold";
  src: url("fonts/GothamProBold.eot"), url("fonts/GothamProBold.ttf"), url("fonts/GothamProBold.woff");
}
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "greg";
  src: url("fonts/GothamProRegular.eot"), url("fonts/GothamProRegular.ttf"), url("fonts/GothamProRegular.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "glight";
  src: url("fonts/GothamProLight.eot"), url("fonts/GothamProLight.ttf"), url("fonts/GothamProLight.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "gmed";
  src: url("fonts/GothamProMedium.eot"), url("fonts/GothamProMedium.ttf"), url("fonts/GothamProMedium.woff");
}
.form-001-envelope,
.form-002-phone-call,
.form-avregis,
.form-next,
.form-blockregister {
  display: inline-block;
  background: url('../../img/spriteRegister.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.form-001-envelope {
  background-position: -3px 0px;
  width: 23px;
  height: 17px;
}
.form-002-phone-call {
  background-position: -3px -20px;
  width: 19px;
  height: 19px;
}
.form-avregis {
  background-position: -3px -42px;
  width: 15px;
  height: 18px;
}
.form-next {
  background-position: -3px -63px;
  width: 15px;
  height: 8px;
}
.form-blockregister {
  background-position: -3px -74px;
  width: 14px;
  height: 18px;
}
.tittleH {
  font-family: "tFi", sans-serif;
  font-size: 60px;
  color: #e5c02f;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 0;
}
.tittleRegister__slogan {
  color: #fefefe;
  font-family: "greg", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 45px;
}
