/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFi";
  src: url("fonts/vino/TMVinograd-Filled.otf"), url("fonts/vino/TMVinograd-Filled.ttf");
}
/* font-family: "TMVinograd-Filled"; */
@font-face {
  font-family: "tFiOb";
  src: url("fonts/vino/TMVinograd-FilledOblique.otf"), url("fonts/vino/TMVinograd-FilledOblique.ttf");
}
/* font-family: "GothamProBold"; */
@font-face {
  font-family: "gbold";
  src: url("fonts/GothamProBold.eot"), url("fonts/GothamProBold.ttf"), url("fonts/GothamProBold.woff");
}
/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "greg";
  src: url("fonts/GothamProRegular.eot"), url("fonts/GothamProRegular.ttf"), url("fonts/GothamProRegular.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "glight";
  src: url("fonts/GothamProLight.eot"), url("fonts/GothamProLight.ttf"), url("fonts/GothamProLight.woff");
}
/* font-family: "GothamProLight"; */
@font-face {
  font-family: "gmed";
  src: url("fonts/GothamProMedium.eot"), url("fonts/GothamProMedium.ttf"), url("fonts/GothamProMedium.woff");
}
.mfp-container {
  top: 25%;
}
.mfp-content {
  max-width: 660px;
}
.white-popup {
  background: url("../img/bg-popup.jpg") no-repeat top center;
  background-size: cover;
  height: 430px;
}
.otzPopup__tittle {
  color: #e5c02f;
  font-family: "tFi", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}
.otzPopup__text {
  text-align: center;
  color: #fefefe;
  font-size: 14px;
  font-family: "greg", sans-serif;
  padding-bottom: 20px;
  max-width: 330px;
  margin: 0 auto;
}
.inpName {
  max-width: 375px;
  width: 100%;
  height: 50px;
  margin: 0 auto 15px;
  display: block;
  border: 1px solid white;
  background: transparent url("../img/avatar.png") no-repeat 20px center;
  text-align: center;
  font-family: "glight", sans-serif;
  color: #fefefe;
  font-size: 14px;
}
.inpName:focus,
.inpName:active {
  border: 1px solid #e5c02f;
}
.inpText {
  max-width: 375px;
  width: 100%;
  height: 120px;
  margin: 0 auto 25px;
  display: block;
  border: 1px solid white;
  text-align: center;
  font-family: "glight", sans-serif;
  color: #fefefe;
  font-size: 14px;
  background: transparent;
  resize: none;
  padding-top: 44px;
}
.inpText:focus,
.inpText:active {
  border: 1px solid #e5c02f;
}
.btn-bloc--popupOtz {
  width: 190px;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
.btn-bloc--popupOtz .btnOtz--popupOtz {
  z-index: 0;
}
.inpSub {
  padding-top: 0!important;
}
.btn-bloc--otz2 {
  display: block!important;
  text-align: center!important;
  width: 200px!important;
  margin: 0 auto!important;
}
.mfp-close--mod {
  background: url("../img/cloced.png") no-repeat !important;
  width: 44px;
  height: 44px;
  display: block!important;
  position: absolute;
  top: -39px;
  right: -44px;
}
.mfp-close--mod:active,
.mfp-close--mod:focus {
  top: -39px;
  right: -44px;
}
.error {
  color: red;
  border: 1px solid red;
}
.mess-error,
.name-error {
  display: none;
}
