@import "variables";
@import "sprite";
// Bootstrap Components

@import "@{bootstrap}variables";
@import "@{bootstrap}mixins";
@import "@{bootstrap}normalize";
@import "@{bootstrap}scaffolding";
@import "@{bootstrap}grid";
@import "@{bootstrap}type";
@import "@{bootstrap}responsive-utilities";
@import "@{bootstrap}utilities";
@import "@{bootstrap}navs";
@import "@{bootstrap}tables";


html, body {
    height: 100%;
}


ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    outline: none;
    &:focus {
        outline: none;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
html.js .loader {
    background: none repeat scroll 0 0 rgba(0,0,0,.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
html.js .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.hidden{
    display: none;
}
@media screen and (min-width: 1920px){
    .bg{
        background-size: cover;
    }
    .bgRegistr{
        background-size: cover;
    }
}
@media screen and (max-width: 1400px){
    .bg,
    .bgRegistr{
       background: url("../img/bg-1360.jpg");
    }
}



/* Vendor libs import
==============================*/
@import "../libs/fontawesom/css/font-awesome.css";
@import "../libs/slick/slick";
@import "../libs/slick/slick-theme";
@import "popup";
@import "styleForm";

/* Project Elements
==============================*/
@import "elements";




/* Pages import
==============================*/
@import "pages/header";
@import "pages/mainSlider";
@import "pages/items";
@import "pages/otziv";
@import "pages/footer";
@import "pages/registration";





