@import "fonts";

@bootstrap: "../../bower_components/bootstrap/less/";

//colors
@white:white;
@whitet:white;
@grey:#737373;
@yel:#e5c02f;
@yebl:#e5c02f;
@borderC:#a4a4a4;
@colSoc:#959595;
//font
@tFi:"tFi",sans-serif;
@tFiOb:"tFiOb",sans-serif;
@gbold:"gbold",sans-serif;
@greg:"gbold",sans-serif;
@glight:"glight",sans-serif;
@gmed:"gmed",sans-serif;

@f10:10px;
@f14:14px;
@f16:16px;
@f18:18px;
@f20:20px;
